body{
  background-color: #f1f1f1;
  color:#333;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  /* Por defecto la caja mide (width/height) + padding + margin */
  /* De esta manera, con  border-box, el ancho es el que marca, incluyendo padding y margin */
  box-sizing: border-box;
}

*::before, 
*::after {
  box-sizing: inherit;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

iframe{
  width: 100%;
  height: 100%;
  border: 0;
  background-color: #fff;
}

textarea {
  background-color: #333;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);

  box-shadow: 0 0 0 .2px rgba(255,255,255,.3);
  width: 100%;
  border: 0;
  color: #fff;
  font-family: monospace;
  height: 100%;
  font-size: 24px;
  resize: none;
  padding: 24px;
}

textarea::focus {
  outline: 0;
}

.editor {
  position: relative;
}

/* 
  Este pseudoelemento se dibuja después del content 
  ::before
  {content}
  ::after
*/
.editor::after {
  content: '';
  position: absolute; 
  right:16px;
  bottom: 16px;
  width:48px;
  height:48px;
  z-index: 10;
  background-repeat: no-repeat;
}

#html::after {
  background-image: url('/assets/html5.svg');
}

#css::after {
  background-image: url('/assets/css3.svg');
}

#js::after {
  background-image: url('/assets/js.svg');
}


/*

*/
.grid {
  display: grid;
  /*grid-template-rows: 1fr 5px 1fr;*/ /* Grosor del separador horizontal. Antes 10 */
  /*grid-template-columns: 1fr 5px 1fr;*/ /* Grosor del separador vertical. Antes 10 */
  grid-template-rows: 49.8% 0.4% 49.8%; /* Grosor del separador horizontal. Antes 10 */
  grid-template-columns: 49.8% 0.4% 49.8%; /* Grosor del separador vertical. Antes 10 */

  height: 100vh;
  width: 100vw;
}

.vertical-gutter{
  grid-area: 1 / 2 / 4 / 2;
  border: solid 1px #fff;
  cursor: col-resize;
}

.horizontal-gutter{
  grid-area: 2 / 1 / 2 / 4;
  border: solid 1px #fff;
  cursor: row-resize;
}

/* Monaco Editor*/
.monaco-editor {

}